@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #FF6363;
    --color-primary-dark: #FF5454;
    --color-gray-200: #888888;
    --color-gray-500: #181818;
    --color-gray-700: #211F1F;
    --font-secondary: "Instrument Serif", serif;
    --font-primary: "Instrument Sans", serif;
    --animate-blur: blur 3s ease-in-out infinite;

    @keyframes blur {
      0%,
      100% {
        filter: blur(32px);
        opacity: 50%;
      }
      50% {
        filter: blur(20px);
        opacity: 90%;
      }
    }
}